:root {
  --clr-accent: #d02577;
  --clr-primary: #a77aa6;
  --clr-dark: #6a4e69;
  --clr-gray: #d4c5d4;
}

.app{
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto minmax(auto,1fr) auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
