.notes{
  overflow: hidden;
  position: relative;
}
.node{
  cursor: pointer;
  display: grid;
  place-items: center;
  border:1px solid var(--clr-dark);
}
.active-node{
  background-color: var(--clr-primary)
}

.marker{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  width: 5px;
  border-radius: 5px;
  background-color: var(--clr-accent);
  opacity:0;
  transition: opacity 300ms linear;
}