.slider{
  display: flex;
  gap:0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.reading,
.name{
  font-weight: 700;
}

.name{
  text-transform: capitalize;
  width:7ch;
}

.reading{
  padding: 0.5em 0em;
  min-width:10ch;
  text-align: center;
  border-radius: 5px;
  background-color: var(--clr-white);
}
.input-slider{
  cursor: pointer;
  width:50%;
}
@media(max-width:575px){
  .input-slider{
    width: 80%;
  }
  .name,
  .reading{  
    font-size: 0.9rem;
  }
}